:root {
	--primary-color: #1e3a8a;
	--secondary-color: #fff;
	--accent-color: #811e8a;
	--text-color: #333;
	--background-color: #f3f4f6;
}

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	color: var(--text-color);
}

.hero {
	background: url("../assets/images/cover.png") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	color: var(--secondary-color);
	text-align: center;
	padding: 10.7rem 2rem;
	position: relative;
	overflow: hidden;
}

.hero-content {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	mix-blend-mode: screen;
}

.hero h1 {
	margin: 0;
	font-size: 5rem;
	margin-bottom: 1rem;
	font-weight: 700;
	user-select: none;
}

.hero h1 .curiosity {
	color: var(--secondary-color);
}

.hero h1 .version {
	font-size: 0.75em;
	background-color: var(--secondary-color);
	color: #000;
	padding: 0.25em 0.25em;
	border-radius: 50%;
}

.hero p {
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 2rem;
	animation: fadeInUp 1s ease-out 0.5s both;
}

.search-box {
	max-width: 600px;
	margin: 0 auto;
	animation: fadeInUp 1s ease-out 1s both;
}

.search-box input {
	width: 100%;
	padding: 15px;
	font-size: 1.1rem;
	border: none;
	border-radius: 30px;
	background: rgba(255, 255, 255, 0.2);
	color: var(--secondary-color);
	transition: all 0.3s ease;
	box-sizing: border-box;
}

.search-box input:focus {
	outline: none;
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0 0 15px rgba(30, 58, 138, 0.5);
}

.hero::before {
	content: "";
	position: absolute;
	inset: 0;
	backdrop-filter: blur(30px);
}

.search-box input::placeholder {
	color: rgba(255, 255, 255, 0.7);
}

.credit {
	position: absolute;
	bottom: 10px;
	right: 20px;
	font-size: 0.9rem;
	opacity: 0.8;
	z-index: 2;
	text-decoration: none;
	color: white;
}

.credit:hover {
	opacity: 1;
	cursor: pointer;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (max-width: 768px) {
	.hero h1 {
		font-size: 3.5rem;
	}
	.card {
		width: 100%;
	}
}

.invalid-input {
	animation: shake 0.2s ease-in-out 0s 2;
}

.invalid-input:focus {
	box-shadow: 0 0 0.5em red !important;
}

@keyframes shake {
	0% {
		margin-left: 0rem;
	}
	25% {
		margin-left: 0.5rem;
	}
	75% {
		margin-left: -0.5rem;
	}
	100% {
		margin-left: 0rem;
	}
}
